---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DONT_LOOK_AT_MY_JUNK
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ad04c4a8f86817194f97d0815bf2d05
      X-Memc-Age:
      - '2380'
      X-Memc-Expires:
      - '19220'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 24 Mar 2023 22:34:40 GMT
recorded_with: VCR 6.1.0
